:root {
  --primary-white: #ffffff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52, 58, 64);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000000;
  --primary-transparent-black: rgba(0,0,0,0.7);
  --primary-green: #1FFF00;
  --greenish-white: #9DFF8F;
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  
  font-family: 'Pacifico', cursive;
  background: var(--primary-black);
  cursor: url('./Images/cursor.png'), auto;
}
.outerBody {
  background: var(--primary-black);
  color: var(--greenish-white);
}

/************************ NAVBAR *********************************/
nav {
  z-index: 2;
}

.logo {
  width: 3.25rem;
 
  
}

/************************ MENU LINKS *********************************/

nav a.nav-link {
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 0.09rem;

}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  color: var(--primary-white) !important;
  max-width: 17.25rem;
  padding: 0 !important;
  font-size: 30px !important;
  height: 6rem !important;
  padding-top: 20px !important;
}
@media(max-width: 768px) {
 .navbar-brand {
   width: 7rem;
 }
}

.navbar-nav > li > a.active,  .navbar-nav > li > a:focus {
    border-top:0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-green);
}


/************************ Header *********************************/
.header-wrapper {
  position: relative;
  /* background: url(matrix.jpeg) no-repeat; */
  background-color: var(--primary-black);
  background-position: center;
  background-size: cover;
  width: 100vw;
}
/********************** matrix ***************************************/
canvas {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/************************ typed-text *********************************/

.typed-text {
  margin: auto;
  position: absolute;
  top: 35%; left: 0; bottom: 0; right: 0;
  font-size: 3rem;
  text-align: center;
  color: var(--greenish-white);
}

/*************************************Contact************************************/
.Contact {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.contactForm {
  width: 70vh;
  background: var(--primary-green);
  padding: 5rem;

}
.contactForm input {
  margin-top: 1rem;
  
  
}

.contactForm textarea {
  margin-top: 1rem;
  width: 100%;
  border-radius: 3%;
}

/************************************About Me *************************************/
.AboutMe {
  height: 100vh;
  background-color: #023020;
  display: flex;
  align-items: center;
  justify-content: center;

}

.AboutMeContainer {
  width: 50%;
}


/**************************************CURSOR************************************/
.cursor {
  width: 25px;
  height: 25px;
  border: 1.5px solid var(--greenish-white);
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}